.brand {
  margin-top: 130px;
  margin-bottom: 130px;
}

.brand .container {
  padding: 42px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand__box {
  width: 90%;
  width: 1240px;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  height: 30px;
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.brand__card {
  position: absolute;
  left: 100%;
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.card_delay-1 {
  animation-delay: calc(30s / 6 * (6 - 1) * -1);
}

.card_delay-2 {
  animation-delay: calc(30s / 6 * (6 - 2) * -1);
}

.card_delay-3 {
  animation-delay: calc(30s / 6 * (6 - 3) * -1);
}

.card_delay-4 {
  animation-delay: calc(30s / 6 * (6 - 4) * -1);
}

.card_delay-5 {
  animation-delay: calc(30s / 6 * (6 - 5) * -1);
}

.card_delay-6 {
  animation-delay: calc(30s / 6 * (6 - 6) * -1);
}
