.hero {
  height: 609px;
  background-image: url(../../assets/image/hero.png);
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}

.hero::before {
  content: "";
  position: absolute;
  right: 652px;
  bottom: 0;
  background-image: url(../../assets/svg/next.svg),
    url(../../assets/svg/prev.svg);
  background-repeat: no-repeat;
  background-position: 0% 50%, 100% 50%;
  background-size: 40px 40px, 40px 40px;

  width: 145px;
  height: 138px;
  background-color: #f9f6f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 49px 25px;
}

.hero .container h2 {
  font-size: 56px;
  font-weight: 500;
  line-height: 70px;
  color: #000000;
  margin-bottom: 30px;
  width: 621px;
}

.hero .container p {
  width: 516px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #555555;
  margin-bottom: 30px;
}

.hero-contact {
  width: 326px;
  height: 48px;
  background-color: #ffffff;
  padding: 8px;
  margin-bottom: 60px;
}

.hero-contact input {
  width: 86%;
  height: 100%;
  font-size: 14px;
  color: #999999;
}

.hero-contact input::placeholder {
  color: #999999;
}

.hero-button {
  width: 148px;
  height: 56px;
  background-color: #402f2c;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.hero-button:hover {
  background-color: #ffffff;
  color: #402f2c;
}

.hero-contact button {
  width: 32px;
  height: 32px;
  background-color: #402f2c;
  cursor: pointer;
}
