.product {
  margin-bottom: 130px;
}

.product .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 60px;
}

.product-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-text {
  width: 714px;
}

.product-text h2 {
  font-size: 56px;
  font-weight: 500;
  line-height: 70px;
  color: #000000;
  margin-bottom: 20px;
}

.product-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #555555;
}

.product-btn {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}

.product-btn p {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #222222;
  border-bottom: 1px solid #222222;
}

.product-box {
  display: flex;
  flex-direction: row;
  align-items: start;
  column-gap: 40px;
}

.card {
  width: 600px;
  height: 812px;
  border: 1px solid #685a5230;
}

.card-content {
  width: 100%;
  padding: 20px 32px 32px 32px;
}

.card-content h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  color: #222222;
  margin-bottom: 16px;
}

.card-content p {
  font-size: 20px;
  font-weight: 400;
  color: #555555;
  line-height: 32px;
  margin-bottom: 47px;
}

.card-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-buttons {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.card-buttons button {
  padding: 16px 32px;
  border: 1px solid #685a5275;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #402f2c;
  cursor: pointer;
}

.card-buttons button:first-child {
  background-color: #402f2c;
  color: #ffffff;
}

.card-actions span {
  font-size: 30px;
  font-weight: 500;
  line-height: 32px;
  color: #222222;
}
